/* Add the following selectors and declarations to your external CSS page */

body {
    background-color: blueviolet; /* Change the color to your desired background color */
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    font-style: italic;
    padding-top: 10px;
}

p {
    font-size: 45px;
}

.title {
    font-weight: bold;
}

#theend {
    color: blue; /* Change the color to your desired color */
}

div {
    padding: 50px;
    margin: 80px;
    border: 10px solid black;
}
